
@{
    ViewBag.Title = "_Contact";
}


<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2><span>Contact</span> Us</h2>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>
    </div>

    <div class="map">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6031.095343364102!2d31.16686245390625!3d40.90373610000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409da0db61c98693%3A0xeb421a6422f81e6d!2zRMO8emNlIMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1668884143867!5m2!1str!2str" frameborder="0" allowfullscreen></iframe>
    </div>
</section>