
@{
    ViewBag.Title = "_Footer";
}


<footer id="footer">
    <div class="container">
        <h3>Düzce Üniversitesi</h3>
        <p>
            Düzce Üniversitesi Konuralp Yerleşkesi
            Düzce University Konuralp Campus
            81620 DÜZCE - TÜRKİYE
            TEL : 0850 800 81 81
            FAKS: 0380 542 11 03
        </p>
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            © Copyright - Düzce Üniversitesi Bilgi İşlem Daire Başkanlığı - 2020 - 47
        </div>
    </div>

</footer>