
@{
    ViewBag.Title = "AdminEkle";
    Layout = null;
}

<h2>AdminEkle</h2>

<form class="form-group" method="post">
    <div>
        <label>Admin Adı :</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <label>Şifre :</label>
        <input type="text" name="Password" />
    </div>
    <div>
        <button class="btn btn-info"> Admin Ekle</button>
    </div>
</form>

