
@{
    ViewBag.Title = "DuyuruEkle";
}

<h2>DuyuruEkle</h2>


<form class="form-group" method="post">
    <div>
        <label>Duyuru Başlığı :</label>
        <input type="text" name="DuyuruBasligi" />
    </div>
    <div>
        <label>Duyuru :</label>
        <input type="text" name="Duyuru" />
    </div>
    <div>
        <label>Tarih :</label>
        <input type="datetime" name="DuyuruTarih" />
    </div>
    <div>
        <button class="btn btn-info"> Admin Ekle</button>
    </div>
</form>
